In [2]:
import pandas as pd

Defining a list with `specific indexes`

In [5]:
rm_players = pd.Series(['Militao', 'Cortois', 'Vini Jr.', 'Benzema'], index=[21, 1, 28, 9])
rm_players

21     Militao
1      Cortois
28    Vini Jr.
9      Benzema
dtype: object

Search by index

In [7]:
rm_squad = {21: 'Militao', 1: 'Cortois', 28: 'Vini Jr.', 9: 'Benzema'}
pd.Series(rm_squad)

21     Militao
1      Cortois
28    Vini Jr.
9      Benzema
dtype: object

In [8]:
rm_squad[9]

'Benzema'

Search by slicing

In [13]:
rm_squad = pd.Series(['Militao', 'Cortois', 'Vini Jr.', 'Benzema'])
rm_squad[0:2]

0    Militao
1    Cortois
dtype: object

##### `Pandas`
Similar to a matrix structure.

In [16]:
rm_squad = {'Player':['Militao', 'Cortois', 'Vini Jr.', 'Benzema'],
            'Height' : [186, 199, 178, 183],
            'Goals' : [2, 0, 24, 17]}

In [17]:
rm_players = pd.DataFrame(rm_squad, index=[21, 1, 28, 9])
rm_players

      Player  Height  Goals
21   Militao     186      2
1    Cortois     199      0
28  Vini Jr.     178     24
9    Benzema     183     17

In [18]:
rm_players.columns

Index(['Player', 'Height', 'Goals'], dtype='object')

In [19]:
rm_players.index

Index([21, 1, 28, 9], dtype='int64')