In [14]:
import pandas as pd
import numpy as np

In [15]:
dict = {
    'col1': [1,2,3,np.nan],
    'col2': [4, np.nan, 6, 7],
    'col3': ['a', 'b', 'c', None]
        }

In [16]:
df = pd.DataFrame(dict)
df

   col1  col2  col3
0   1.0   4.0     a
1   2.0   NaN     b
2   3.0   6.0     c
3   NaN   7.0  None

In [17]:
df.isnull()

    col1   col2   col3
0  False  False  False
1  False   True  False
2  False  False  False
3   True  False   True

In [18]:
df.isnull()*1

   col1  col2  col3
0     0     0     0
1     0     1     0
2     0     0     0
3     1     0     1

In [19]:
df.isnull().astype(np.int_)

   col1  col2  col3
0     0     0     0
1     0     1     0
2     0     0     0
3     1     0     1

In [20]:
missing_df = df.fillna('Missing')
missing_df

      col1     col2     col3
0      1.0      4.0        a
1      2.0  Missing        b
2      3.0      6.0        c
3  Missing      7.0  Missing

In [23]:
df.fillna(df.mean())

TypeError: can only concatenate str (not "int") to str

In [24]:
df.interpolate()

   col1  col2  col3
0   1.0   4.0     a
1   2.0   5.0     b
2   3.0   6.0     c
3   3.0   7.0  None

In [25]:
df.dropna()

   col1  col2 col3
0   1.0   4.0    a
2   3.0   6.0    c